/* The parent container */
.holder {
  display: flex;
  /* Centers horizontally */
  justify-content: center;
  /* Centers vertically */
  align-items: center;
  /* Required to define the 'center' relative to the whole screen */
  width: 100vw;
  height: 100vh;
}

/* The element being centered */
.item-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}